:root {
  --clr-primary: hsl(0, 0%, 100%);
  --clr-neutral-300: hsl(212, 45%, 89%);
  --clr-neutral-500: hsl(216, 15%, 48%);
  --clr-neutral-900: hsl(218, 44%, 22%);

  --fw-regular: 400;
  --fw-bold: 700;

  --ff-outfit: "Outfit", sans-serif;
  --ff-base: auto;

  --fs-normal: normal;
}

body {
  font-family: var(--ff-outfit);
  font-weight: var(--fw-regular);
  font-size: var(--fs-normal);
  background-color: var(--clr-neutral-300);
  color: var(--clr-neutral-500);

  display: grid;
  min-height: 100vh; 
  place-content: center;
  margin: 0;
  padding: 0;
}

@media (min-width: 40rem) { /* 600px */
  .wrapper {
    max-width: 25rem; /* 375 */
  }
}

.wrapper {
  --b-radius: 0.8rem;

  background-color: var(--clr-primary);
  padding: 0.8rem;
  border-radius: var(--b-radius);
  max-width: 17rem;
  width: 100%;
}

.content {
  text-align: center;
}

img {
  max-width: 100%;
  border-radius: var(--b-radius);
  display: block;
  height: auto;
}

.title {
  font-size: 1.35rem;
  color: var(--clr-neutral-900);
  text-align: center;
}

p {
  font-weight: var(--fw-regular);
}
